
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    min-width: 1140px;
}

.main-container {
    position: fixed;
    margin: 0 auto;
    width: 1280px;
}

.navigation-container {
    background-color: rgba(211, 53, 35, 0.9);
    height: 70px;
    text-align: right;
    position: fixed;
    left: 0; right: 0;
    z-index: 999;
}

.header {
    background-image: url("../media/bg-red.svg");
    background-size: cover;
    position: relative;
}

.logo-info {
    height: 70px;
    float: left;
    padding-top: 10px;
    padding-left: 50px;
}

.logo-text {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding-left: 45px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}

.main-nav {
    padding: 0 50px;
}

.navi {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 65px;
    padding-left: 15px;
}

.main-nav .navi {
  padding: 0 10px;
  border-top: 5px solid transparent;
}

.navi:hover, .navi.active {
  border-color: rgba(255, 255, 255, 0.5);
}

.title-container {
    height: 80px;
    background-color: #d33523;
}

.slider-main {
    clear: both;
}

.main-description {
    padding-left: 170px;
    padding-right: 170px;
    font-size: 18px;
    font-weight: 300;
}

.social a{
    display: inline-block;
    margin: 0 10px;
    padding-bottom: 60px; padding-top: 60px;
}

.social .social-main {
  color: rgba(255, 255, 255, 0.5);
}

.social-main:hover, .social-main.active {
  color: rgba(255, 255, 255, 0.8);
}

.container-offers {
    background-color: #d33523;
    padding-bottom: 60px;
}

.offer-blocks-container{
  width: 1140px;
  margin: 0 auto;
}

.one-offer-block {
    width: 25%;
    float: left;
    padding-left: 30px;
    padding-bottom: 50px;
}

.container-work {
    background-image: url("../media/bg-green.svg");
    background-size: cover;
}

.description-work {
    padding-left: 163px;
    padding-right: 163px;
}

.our-work-block {
    width: 25%;
    float: left;
}

.our-work-block img {
    width: 100%;
    display: block;
}

.our-work-image {
    position: relative;
}

.work-overlay {
    position: absolute;
    background-color: rgba(87, 170, 104, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
}

.our-work-image:hover .work-overlay {
    visibility: visible;
}

.work-nav{
  padding-top: 40px;
}

.work-nav a {
    margin-right: 50px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.work-nav .work-btn {
  padding: 6px 13px;
  font-size: 13px;
  font-weight: 400;
}

.work-btn:hover, .work-btn.active {
  border: 1px solid;
  border-radius: 5px;
}

.work-heading{
  font-size: 18px;
  font-weight: 400;
}

.work-comments{
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.work-comments i{
  padding-bottom: 35px;
}

.work-comments a{
  display: block;
}

.price-nav a {
    margin-right: 50px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.price-nav{
  padding-top: 20px;
  padding-bottom: 40px;
}

.price-nav .price-btn {
  padding: 6px 13px;
  font-size: 13px;
  font-weight: 400;
}

.price-btn:hover, .price-btn.active {
  border: 1px solid;
  border-radius: 5px;
}

.pricelist {
  background:
      linear-gradient(
        rgba(111, 250, 255, 0.5),
        rgba(111, 250, 255, 0.5)
      ),
      url("../media/bg-green.svg");
      background-size: cover;
  }

.table-pricelist{
  background-color: rgb(42, 87, 89);
}
.prices{
  width: 86vw;
  margin: 0 auto;
  border-collapse: collapse;
}

.prices td,
.prices th {
  vertical-align: middle;
  width: 25%;
  border-bottom: 1px solid #437c7e;
}

.prices td{
  height: 50px;
}

.monthly-prices td{
  font-size: 32px;
  font-weight: 400;
  padding: 20px;
}

.prices th{
  height: 90px;
  font-size: 20px;
  font-weight: 400;
}

.prices tfoot td{
  height: 150px;
}

.prices .highlighted {
   background: rgb(49, 103, 105)
}

.sign-up{
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  height: 40px;
  width: 140px;
}

button.sign-up:hover, button.activated, .sign-up button.activated{
  background-color: rgb(71, 133, 135);
}

.team-container {
    background-color: #57aa68;
}

.team-description {
    padding-left: 160px;
    padding-right: 160px;
}

.team-image {
    position: relative;
    height: 300px;
}

.team-overlay {
    position: absolute;
    background-color: rgba(87, 170, 104, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
}

.team-image:hover .team-overlay {
    visibility: visible;
}

.one-team-block {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.team-social {
  display: inline-block;
  font-size: 24px;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

.team-social-blocks{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.team-social i{
  line-height: 40px;
}

.team-comments{
  font-size: 16px;
  font-weight: 300;
  padding: 25px;
  line-height: 1.5;
}

.team-heading{
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
}

.team-member{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 30px;
}

.team-position {
    opacity: 0.56;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 80px;
}

.container-contact {
    background-image: url("../media/bg-blue.svg");
    background-size: cover;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    background-color: #2e2d6b;
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 13px;
}

h1 {
    color: #fffefe;
    font-size: 30px;
    font-weight: 400;
    padding-top: 80px;
    padding-bottom: 60px;
}

h2 {
    text-align: center;
    font-weight: 200;
    color: #fffefe;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
}



p {
    text-align: center;
    font-weight: 200;
    color: #fffefe;
    font-size: 18px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    line-height: 30px;
}

input[type="text"] {
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-family: inherit;
    padding-left: 14px;
    background: #3e4a85;
    opacity: 0.7;
    border: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 620px;
}

textarea[type="textarea"] {
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-family: inherit;
    line-height: 24px;
    rgba(255, 255, 255, 0.7);
    height: 232px;
    padding-left: 14px;
    background: #3e4a85;
    opacity: 0.7;
    border: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 620px;
}

input[type=submit] {
    text-decoration: none;
    font-family: inherit;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 24px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    width: 620px;
    height: 35px;
}

.slider-horizontal {
    padding-top: 40px;
    padding-bottom: 30px;
}

button.slider-button{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 0;
    background-color: transparent;
}

.slider-horizontal button:hover, button.active, .slider-horizontal button.active {
    background-color: rgb(255, 255, 255);
}

.adress {
    font-size: 18px;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 70px;
}

.slider-vertical {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 0;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.slider-vertical button:hover, button.active, .slider-vertical button.active {
    background-color: rgb(255, 255, 255);
}
