.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.main-container {
    position: fixed;
    margin: 0 auto;
}

.navigation-container {
    background-color: rgba(211, 53, 35, 0.9);
    height: 70px;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header {
    background-image: url("media/bg-red.svg");
    background-size: cover;
}

.logo-info {
    height: 80px;
    float: left;
    padding-top: 10px;
    padding-left: 50px;
}

.logo-text {
    float: right;
    border-bottom: 10px transparent;
}

.main-nav {
    text-decoration: none;
    padding: 0 50px;
}

.navi {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 65px;
    padding-left: 15px;
}

.main-nav .navi {
  padding: 0 10px;
  margin: 0;
  border-top: 5px solid transparent;
  color: #FFF;
  text-decoration: none;
}

.main-nav .navi:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.title-container {
    height: 80px;
    background-color: #d33523;
}

.slider-main {
    clear: both;
}

.main-description {
    padding-left: 170px;
    padding-right: 170px;
    font-size: 18px;
    font-weight: 300;
}

.social li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.social i {
    color: rgba(255, 255, 255, 0.8);
}

.container-offers {
    height: auto;
    background-color: #d33523;
    text-align: center;
}

.offer-blocks-container{
  width: 90vw;
  margin: 0 auto;
}

.one-offer-block {
    width: 25%;
    float: left;
    padding-left: 30px;
    padding-bottom: 50px;
    vertical-align: top;
    margin: auto;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container-work {
    height: 360px;
    background-image: url("media/bg-green.svg");
    background-size: cover;
    text-align: center;
}

.description-work {
    padding-left: 163px;
    padding-right: 163px;
}

.our-work-block {
    width: 25%;
    float: left;
}

.our-work-block img {
    width: 100%;
    display: block;
}

.our-work-image {
    position: relative;
}

.work-overlay {
    position: absolute;
    background-color: rgba(87, 170, 104, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    font-family: roboto;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.our-work-image:hover .work-overlay {
    visibility: visible;
}

.work-nav a {
    padding-right: 50px;
    text-transform: uppercase;
}

.price-nav a {
    padding-right: 50px;
    text-transform: uppercase;
}

.price-nav{
  padding-top: 90px;
  padding-bottom: 40px;
}

.pricelist {
  background:
      linear-gradient(
        rgba(111, 250, 255, 0.5),
        rgba(111, 250, 255, 0.5)
      ),
      url("media/bg-green.svg");
      background-size: cover;
  }

.table-pricelist{
  background-color: rgb(42, 87, 89);
}
.prices{
  width: 86vw;
  margin: 0 auto;
  border-collapse: collapse;
}

.prices td,
.prices th {
  vertical-align: middle;
  width: 25%;
  border-bottom: 1px solid #437c7e;
}

.prices td{
  height: 50px;
}

.prices th{
  height: 90px;
  font-size: 20px;
  font-weight: 400;
}

.prices tfoot td{
  height: 150px;
}

.prices .highlighted {
   background: rgb(49, 103, 105)
}

button.sign-up{
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  height: 40px;
  width: 140px;
}

.team-container {
    background-color: #57aa68;
    height: 790px;
}

.team-description {
    padding-left: 160px;
    padding-right: 160px;
}

.team-image {
    position: relative;
    height: 300px;
}

.team-overlay {
    position: absolute;
    background-color: rgba(87, 170, 104, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    font-family: roboto;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.team-image:hover .team-overlay {
    visibility: visible;
}

.team-block-container {
    margin: auto;
    text-align: center;
}

.one-team-block {
    width: 270px;
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.container-contact {
    height: 600px;
    background-image: url("media/bg-blue.svg");
    background-size: cover;
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.copyright {
    height: 43px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #2e2d6b;
    padding-top: 16px;
    font-size: 13px;
}

h1 {
    color: #fffefe;
    font-size: 30px;
    font-weight: 400;
    padding-top: 80px;
}

h2 {
    text-align: center;
    font-weight: 200;
    color: #fffefe;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
}

h3 {
    text-align: center;
    color: #fffefe;
    font-size: 18px;
    line-height: 24px;
}

h4 {
    text-align: center;
    color: #fffefe;
    opacity: 0.56;
    font-size: 13px;
    line-height: 24px;
}

p {
    text-align: center;
    font-weight: 200;
    color: #fffefe;
    font-size: 18px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
}

#contact-form {
    background-color: transparent;
}

input[type="text"] {
    font-size: 13px;
    line-height: 24px;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 14px;
    background: #3e4a85;
    opacity: 0.7;
    border: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 620px;
}

textarea[type="textarea"] {
    font-size: 13px;
    font-family: inherit;
    line-height: 24px;
    rgba(255, 255, 255, 0.7);
    height: 232px;
    padding-left: 14px;
    background: #3e4a85;
    opacity: 0.7;
    border: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 620px;
}

input[type=submit] {
    text-decoration: none;
    font-family: inherit;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 24px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    width: 620px;
    height: 35px;
}

.slider-horizontal {
    padding-top: 40px;
    padding-bottom: 30px;
}

button.slider-button{
    border-radius: 100%;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 0;
    background-color: transparent;
}

.slider-horizontal button:hover, button.active, .slider-horizontal button.active {
    background-color: rgb(255, 255, 255);
}

.contact-form {
    width: 100%;
}

.adress {
    font-size: 21px;
    font-weight: 300;
    margin-top: 40px;
}

.slider-vertical {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 0;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.slider-vertical button:hover, button.active, .slider-vertical button.active {
    background-color: rgb(255, 255, 255);
}
